[Desktop Entry]
Type=Application
Exec=xhispertoold
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xhispertoold
Name=xhispertoold
Comment[en_US]=
Comment=
